﻿/*Apply style for Gridview Paging at bottom of Page*/
.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys table > tbody > tr > td {
        display: inline;
    }

        .pagination-ys table > tbody > tr > td > a,
        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #29B4B6;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            margin-left: -1px;
        }

        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #aea79f;
            background-color: #f5f5f5;
            border-color: #dddddd;
            cursor: default;
        }

        .pagination-ys table > tbody > tr > td:first-child > a,
        .pagination-ys table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td:last-child > a,
        .pagination-ys table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td > a:hover,
        .pagination-ys table > tbody > tr > td > span:hover,
        .pagination-ys table > tbody > tr > td > a:focus,
        .pagination-ys table > tbody > tr > td > span:focus {
            color: #97310e;
            background-color: #eeeeee;
            border-color: #dddddd;
        }

/*.paginationCustom {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .paginationCustom > td {
        display: inline;
    }

        .paginationCustom > td > a,
        .paginationCustom > td > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            line-height: 1.42857;
            text-decoration: none;
            color: #337ab7;
            background-color: #fff;
            border: 1px solid #ddd;
            margin-left: -1px;
        }

        .paginationCustom > td:first-child > a,
        .paginationCustom > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .paginationCustom > td:last-child > a,
        .paginationCustom > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .paginationCustom > td > a:hover, .paginationCustom > td > a:focus,
        .paginationCustom > td > span:hover,
        .paginationCustom > td > span:focus {
            z-index: 2;
            color: #23527c;
            background-color: #eeeeee;
            border-color: #ddd;
        }

    .paginationCustom > .active > a, .paginationCustom > .active > a:hover, .paginationCustom > .active > a:focus,
    .paginationCustom > .active > span,
    .paginationCustom > .active > span:hover,
    .paginationCustom > .active > span:focus {
        z-index: 3;
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
        cursor: default;
    }

    .paginationCustom > .disabled > span,
    .paginationCustom > .disabled > span:hover,
    .paginationCustom > .disabled > span:focus,
    .paginationCustom > .disabled > a,
    .paginationCustom > .disabled > a:hover,
    .paginationCustom > .disabled > a:focus {
        color: #777777;
        background-color: #fff;
        border-color: #ddd;
        cursor: not-allowed;
    }

.paginationCustom-lg > td > a,
.pagination-lg > td > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
}

.paginationCustom-lg > td:first-child > a,
.paginationCustom-lg > td:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.paginationCustom-lg > td:last-child > a,
.paginationCustom-lg > td:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.paginationCustom-sm > td > a,
.paginationCustom-sm > td > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.paginationCustom-sm > td:first-child > a,
.paginationCustom-sm > td:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.paginationCustom-sm > td:last-child > a,
.paginationCustom-sm > td:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}*/
